<!doctype html>
<html>
    <head>
    
    <style>
        .flashes {
            color: red;
            font-weight: bold;
            }
        h1 {
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        h2 {
            font-size: 24px;   
        }
        p {
            text-indent: 50px;   
        }
    </style>
    
        <title>{{title}}</title>
        <nav>
            <a href='/'>Home</a> |
            <a href='/blog'> All Posts</a> |
            <a href='/newpost'>Add a new post</a> 
           <br> 
            <a href='/login'>Log In</a> |
            <a href='/logout'>Log Out</a>
        </nav>
       <header> {% if session['user'] %}
        <p>You are currently logged in as {{session['user']}}</p>

        {% else %}
        
        <p>You are not logged in. </p>
      {% endif %}
    </header>
    </head>

<body>
      

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>